header{
    background-color: var(--mc-bg-nav);
}
main{
    color: var(--mc-text);
}
main .mc-jumbo,
main .mc-about,
main .mc-btn-send{
    background-color: var(--mc-bg-jumbo);
    color: white;
}
main .mc-btn-send:hover{
    background-color: var(--mc-bg-nav);
    color: white;
}
footer{
    background-color: var(--mc-bg-footer);
}
footer a{
    color: var(--mc-bg-jumbo);;
}
footer .mc-footer-bottom{
    background-color:  var(--mc-bg-nav);
}