header{
    background-color: var(--mc-bg-nav);
}
main .mc-jumbo,
main .mc-about{
    background-color: var(--mc-bg-jumbo);
}/*
.row > div{
    border: 1px solid orange;
}
.row > div > div{
    border: 1px solid black;
}*/
footer{
    background-color: var(--mc-bg-footer);
}
footer .mc-footer-bottom{
    background-color:  var(--mc-bg-nav);
}